$header__logo_text-color: black;
$header__contacts_text-color: #888888;
$header__contacts_text-size: 16px;
$header__contacts_text-weight: 500;

$promo__background-color_begin: #5991FF;
$promo__background-color_end: #0050EF;
$promo__text-color: white;
$promo__text-size: 40px;
$promo__title_line-height: 56px;
$promo__title_text-weight: 600;
$promo__subtitle_line-height: 24px;
$promo__btn-color: white;
$promo__btn_text-color: #0050EF;
$promo__btn_text-size: 16px;
$promo__btn_line-height: 19.5px;
$promo__btn_text-weight: 600;

$post-list_background-color: #E5E5E5;
$post-list_title_font-size: 20px;
$post-list_title_font-weight: 600;
$post-list_title_line-height: 32px;
$post-list_title_text-color: rgba(0, 0, 0, 0.65);
$post-list_content_font-size: 16px;
$post-list_content_font-weight: 400;
$post-list_content_line-height: 24px;
$post-list_content_text-color: #888888;
$post-list_author_font-size: 12px;
$post-list_author_font-weight: 600;
$post-list_author_line-height: 18px;
$post-list_author_text-color: #0050EF;
$post-list_author_background-color: rgba(0, 80, 239, 0.06);
$post-list_date_font-size: 12px;
$post-list_date_font-weight: 600;
$post-list_date_line-height: 18px;
$post-list_date_text-color: #10B2D0;


$footer__background-color: #011846;
$footer__text-color: white;
$footer__content_text-size: 16px;
$footer__content_line-height: 19.5px;
$footer__content_text-weight: 500;